In [1]:
#importy
import sys
import io

import static_ev as ev
from data_import import load_onedrive_csv
from tokenizacja import tokenize_column

In [2]:
# pobranie danych z onedrive
indeksy_df = load_onedrive_csv(ev.indeksy_url)
kombinacje_df = load_onedrive_csv(ev.kombinacje_url)

Pobieranie danych z OneDrive...
Pomyślnie zdekodowano przy użyciu utf-8

c:\Users\rafalkaminski\OneDrive - Gdańska Stocznia „Remontowa” im. J.Piłsudskiego S.A\Documents\GSR\studia\ML_PROJEKT\data_import.py:40: DtypeWarning: Columns (30,34,53,57,75,93,142,143,144,157,159,166,174,176,183,239,240,252,256,265) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(StringIO(csv_content), sep=';')

Wczytano 108782 wierszy i 266 kolumn
Pobieranie danych z OneDrive...
Pomyślnie zdekodowano przy użyciu windows-1250
Wczytano 386148 wierszy i 13 kolumn

In [4]:
#czyszczenie danych
indeksy_df = indeksy_df[['ID', 'INDEKS', 'NAZWA','KOMB_ID']]
kombinacje_df = kombinacje_df[['SEGM_ID','KOMB_ID', 'POZYCJA_SEG','SLIT_ID','SLOW_ID', 'KOD', 'OPIS', 'ZALEZNY_OD_ID','NAZWA_SLOW', 'ZALEZNY_OD_SLOW_ID']]

indeksy_df= indeksy_df.dropna(subset=['KOMB_ID'])

In [5]:
#tokenizacja kolumny nazwa w ramce indeksy_df
indeksy_df_token = tokenize_column(indeksy_df, column_name='NAZWA', model='gpt-3.5-turbo')

Tokenizacja zakończona. Średnia liczba tokenów: 26.43
Maksymalna liczba tokenów: 116
Minimalna liczba tokenów: 1

In [6]:
indeksy_df_token.head()

,ID,INDEKS,NAZWA,KOMB_ID,NAZWA_tokens,NAZWA_token_count
173,192,"M-RUR-KOL-76,1-S235-6-46055","KOŁNIERZ Z SZYJKĄ TYP 11 B DN65 76,1X2,9 PN10/...",21.0,"[56047, 129, 223, 15259, 643, 57, 1901, 70344,...",39
869,888,"M-RUR-ZSC-139,7-X52-6-65355","RURA 139,7X6,3 X52 PSL1 AT 3.1",22.0,"[49, 41410, 4194, 10125, 11, 22, 55, 21, 11, 1...",21
870,889,"M-RUR-ZSC-168,3-X52-6-65353","RURA 168,3X6,3 X52 PSL1 AT 3.1",23.0,"[49, 41410, 4194, 8953, 11, 18, 55, 21, 11, 18...",21
872,891,"M-RUR-ZSC-168,3-X52-6-65354","RURA 168,3X8 X52 PSL1 AT 3.1",24.0,"[49, 41410, 4194, 8953, 11, 18, 55, 23, 4194, ...",20
879,898,U-POM-AMP-EA19-0-0-463,AMPEROMIERZ TABLICOWY EA19 CT=400/5A,25.0,"[1428, 9851, 1937, 16688, 57, 50276, 43, 1341,...",18

In [12]:
from tokenizacja import decode_tokens

# dekodowanie przykładowej wartości tokenów z ramki indeksy_df_token
sample_tokens = indeksy_df_token.iloc[3]['NAZWA_tokens']
decoded_text = decode_tokens(sample_tokens)
print(f"Oryginalna nazwa: {indeksy_df_token.iloc[3]['NAZWA']}")
print(f"Zdekodowany tekst: {decoded_text}")
print(f"Liczba tokenów: {len(sample_tokens)}")

Oryginalna nazwa: RURA 168,3X8 X52 PSL1 AT 3.1
Zdekodowany tekst: RURA 168,3X8 X52 PSL1 AT 3.1
Liczba tokenów: 20